.quiz{
    background: #FFF7DF;
    border: 1px solid #FF8A00;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.quiz .quiz-title{
    padding: 20px;
    align-items: center;
}

.quiz .quiz-title p {
    margin: 0;
    font-size: 16px;
    line-height: 175.78%;
    color: #5C5C5C;
    font-weight: 600;
    width: 95%;
}

.quiz .quiz-title .see-answer svg{
    cursor: pointer;
    width: 20px;
}

.quiz .quiz-options {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border-top: 1px solid #FF8A00;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 575.98px) {
    .quiz .quiz-title {
        align-items: start;
        padding: 12px;
    }

    .quiz .quiz-title p {
        font-size: 15px;
        width: 85%;
    }

    .quiz .quiz-options {
        padding: 13px;
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .quiz .quiz-title {
        align-items: start;
        padding: 12px;
    }

    .quiz .quiz-title p {
        font-size: 15px;
        width: 85%;
    }

    .quiz .quiz-options {
        padding: 13px;
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
    }
}