.banner-area {
    background: #FFF7DF;
    padding: 50px 0px;
    width: 100%;
    height: 535px;
}

.banner-area .content {
    height: 100%;
}

.banner-area .content h1 {
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5C5C5C;
}

.banner-area .content h1 span {
    color: #FFC000;
    text-decoration: underline;
}

.banner-area .content p {
    font-size: 17px;
    line-height: 24px;
    color: #5C5C5C;
    padding: 10px 0;
}

.banner-area .image {
    width: 100%;
    height: 485px;
}

.banner-area .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 575.98px) {
    .banner-area {
        padding: 50px 0px 0;
        height: auto;
    }
    .banner-area .content h1 {
        font-size: 27px;
        line-height: 35px;
        text-align: center;
        width: 100%;
    }
    .banner-area .content p {
        font-size: 14px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .banner-area .image {
        width: 295px;
        height: auto;
        padding-top: 30px;
        margin: 0 auto;
    }
    .banner-area .image img {
        width: 293px;
        height: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .banner-area {
        padding: 50px 0px 0;
        height: auto;
    }
    .banner-area .content h1 {
        font-size: 27px;
        line-height: 35px;
        text-align: center;
        width: 100%;
    }
    .banner-area .image {
        width: 295px;
        height: auto;
        padding-top: 30px;
        margin: 0 auto;
    }
    .banner-area .image img {
        width: 293px;
        height: auto;
    }
    .banner-area .content p {
        font-size: 14px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992.98px) {
    .banner-area {
        height: 320px;
        padding: 30px 0px;
    }
    .banner-area .image {
        height: 290px;
    }
    .banner-area .content h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .banner-area .content p {
        font-size: 14px;
        line-height: 22px;
        margin: 0;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200.98px) {
    .banner-area {
        padding: 50px 0px 0px;
        height: auto;
    }
    .banner-area .content h1 {
        font-size: 55px;
        line-height: 60px;
    }
    .banner-area .content p {
        font-size: 16px;
        line-height: 25px;
        margin: 0;
    }
    .banner-area .image {
        height: auto;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1399.98px) {
    .banner-area .content h1 {
        font-size: 48px;
        line-height: 50px;
    }

    .banner-area .content p {
        font-size: 17px;
        line-height: 27px;
    }
}